<section class="skills">
  <div class="container">
    <h2 class="skills__title">Skills</h2>
    <p class="skills__description">I work in such programs as</p>
    <ul class="skills-list">
      <li class="skills-list__item">
        <img src="assets/img/skills/photoshop.png" alt="" />
        <span class="skills-list__name">Adobe photoshop</span>
        <div class="skills-list__rating" data-total-value="0">
          <div class="skills-list__rating-item" data-item-value="5">★</div>
          <div class="skills-list__rating-item" data-item-value="4">★</div>
          <div class="skills-list__rating-item" data-item-value="3">★</div>
          <div class="skills-list__rating-item" data-item-value="2">★</div>
          <div class="skills-list__rating-item" data-item-value="1">★</div>
        </div>
      </li>

      <li class="skills-list__item">
        <img src="assets/img/skills/illustrator.png" alt="" />
        <span class="skills-list__name">Adobe Illustrator</span>
        <div class="skills-list__rating">
          <div class="skills-list__rating" data-total-value="0">
            <div class="skills-list__rating-item" data-item-value="5">★</div>
            <div class="skills-list__rating-item" data-item-value="4">★</div>
            <div class="skills-list__rating-item" data-item-value="3">★</div>
            <div class="skills-list__rating-item" data-item-value="2">★</div>
            <div class="skills-list__rating-item" data-item-value="1">★</div>
          </div>
        </div>
      </li>

      <li class="skills-list__item">
        <img src="assets/img/skills/after_effects.png" alt="" />
        <span class="skills-list__name">Adobe After Effects</span>
        <div class="skills-list__rating">
          <div class="skills-list__rating" data-total-value="0">
            <div class="skills-list__rating-item" data-item-value="5">★</div>
            <div class="skills-list__rating-item" data-item-value="4">★</div>
            <div class="skills-list__rating-item" data-item-value="3">★</div>
            <div class="skills-list__rating-item" data-item-value="2">★</div>
            <div class="skills-list__rating-item" data-item-value="1">★</div>
          </div>
        </div>
      </li>

      <li class="skills-list__item">
        <img src="assets/img/skills/figma.png" alt="" />
        <span class="skills-list__name">Figma</span>
        <div class="skills-list__rating">
          <div class="skills-list__rating" data-total-value="0">
            <div class="skills-list__rating-item" data-item-value="5">★</div>
            <div class="skills-list__rating-item" data-item-value="4">★</div>
            <div class="skills-list__rating-item" data-item-value="3">★</div>
            <div class="skills-list__rating-item" data-item-value="2">★</div>
            <div class="skills-list__rating-item" data-item-value="1">★</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
