.about {
  margin-bottom: 200px;
  @media (max-width:991px){
   margin-bottom: 100px;
    }
  &__title {
    text-align: center;
    margin-bottom: 25px;
    @media (max-width:991px){
     font-size: 24px;
     }
  }
  p {
    font-weight: 500;
    margin: 0 auto;
    max-width: 485px;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    @media (max-width:991px){
      font-size: 14px;
      }
  }
}
