.header {
}
.nav {
  position: relative;
  margin-top: 32px;

  &__list {
    display: flex;
    &::after {
      top: 50px;
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      border-bottom: 1px solid #828282;
      width: 100%;
    }
  }

  &__item:not(:last-child) {
    margin-right: 155px;
  }

  &__link {
    color: #828282;
    transition: 0.2s ease-in;
    &:hover {
      color: $black;
    }
    &.active {
      color: $black;
    }
  }
}
