.header {
  
  background-color: #fff;
 
  padding-bottom: 30px;

  &__row {
    display: flex;
    margin-top: 32px;
  }
}

.nav {
  position: relative;
  @media (max-width: 991px) {
    display: none;
  }

  width: 100%;

  &__list {
    display: flex;
    justify-content: space-between;

    &::after {
      top: 50px;
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      border-bottom: 1px solid #828282;
      width: 100%;
      @media(max-width:991px){
        display:none;
      }
    }
  }

  &__link {
    color: #828282;
    transition: 0.2s ease-in;
    &:hover {
      color: $black;
    }
    &.active {
      color: $black;
    }
  }
}
.burger {
  display: none;
  margin-left: auto;
 background-image: url("../img/header/burger-open.png");
 background-repeat: no-repeat;
 width: 30px;
 height: 30px;
 @media (max-width: 991px) {
  display: block;
}

  
&.burger-close{
  background-image: url("../img/header/burger-close.png");
  background-repeat: no-repeat;
}
}



