.hero {
  margin-top: 80px;
  margin-bottom: 230px;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  &__title {
    font-size: 47px;
    line-height: 59px;
    max-width: 123px;
  }
  &__description {
    font-weight: 500;
    line-height: 22px;
    max-width: 153px;
  }
}

.lang {
  position: relative;
  font-size: 16px;
  transform: rotate(-90deg);
}
.lang__item {
  color: #828282;
  &:not(:last-child){
    margin-right: 15px;
  }
  &.active {
    color: $black;
  }

}
.lang__item:nth-child(1)::after {
  content: "";
  top: 0;
  left:30px;
  position: absolute;
  display: block;
  height: 100%;
  
  border: 1px solid $black;
}
